{% extends 'base.html.twig' %}

{% block title %}nouvelle Matiere{% endblock %}

{% block body %}
    <h1>nouvelle Matiere</h1>

    {{ include('admin_categorie/form.html.twig') }}

    <a href="{{ path('app_admin_oeuvres') }}">retour liste</a>
{% endblock %}
