{% extends 'base.html.twig' %}

{% block title %}New Theme{% endblock %}

{% block body %}
    <h1>nouveau Theme</h1>
<div class="container">
    {{ include('theme/_form.html.twig') }}

</div>

    <a href="{{ path('app_theme_index') }}" class="btn btn-warning">retour</a>
{% endblock %}
